body {
  margin: 0; }
  body a {
    color: inherit;
    text-decoration: none; }

h4 {
  margin: 20px 0; }

.MuiToolbar-root .MuiListItem-root {
  color: #fff;
  border-radius: 15px;
  line-height: 12px;
  padding: 11px 16px;
  margin: 5px 0; }
  .MuiToolbar-root .MuiListItem-root.Mui-selected {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff; }

.MuiToolbar-root .MuiListItem-button:hover {
  background-color: rgba(0, 0, 0, 0.2); }

nav .MuiListItem-root {
  margin-top: 3px; }
  nav .MuiListItem-root.Mui-selected {
    border-radius: 4px 4px 0 0; }
  nav .MuiListItem-root.Mui-selected, nav .MuiListItem-root.Mui-selected:hover {
    background-color: #fff;
    border-radius: 4px 4px 0 0; }
  nav .MuiListItem-root:hover {
    background-color: #fff;
    border-radius: 4px; }
  nav .MuiListItem-root .MuiSvgIcon-root {
    fill: #c7c7c7;
    margin-right: 0; }
  nav .MuiListItem-root .MuiListItemIcon-root .MuiSvgIcon-root {
    fill: currentColor;
    margin-right: 20px; }

nav > .menu-item .MuiCollapse-wrapper {
  margin-bottom: 10px;
  padding-bottom: 15px; }
  nav > .menu-item .MuiCollapse-wrapper .MuiListItem-root {
    line-height: 1rem; }
    nav > .menu-item .MuiCollapse-wrapper .MuiListItem-root:hover {
      background-color: transparent; }

nav > .menu-item.menu-minify .MuiListItem-root {
  padding: 7px; }
  nav > .menu-item.menu-minify .MuiListItem-root.Mui-selected {
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    position: relative; }
  nav > .menu-item.menu-minify .MuiListItem-root .MuiListItemIcon-root .MuiSvgIcon-root {
    margin-right: 0; }

nav .MuiListSubheader-root {
  color: #ababab;
  line-height: 1rem;
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px; }

.MuiPaper-root::-webkit-scrollbar {
  display: none; }
