body {
  margin: 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h4 {
  margin: 20px 0;
}

// header
.MuiToolbar-root {
  .MuiListItem-root {
    color: #fff;
    border-radius: 15px;
    line-height: 12px;
    padding: 11px 16px;
    margin: 5px 0;
    &.Mui-selected {
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff;
    }
  }
  .MuiListItem-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

nav {
  .MuiListItem-root {
    margin-top: 3px;
    &.Mui-selected {
      border-radius: 4px 4px 0 0;
    }
    &.Mui-selected,
    &.Mui-selected:hover {
      background-color: #fff;
      border-radius: 4px 4px 0 0;
    }
    &:hover {
      background-color: #fff;
      border-radius: 4px;
    }
    .MuiSvgIcon-root {
      fill: #c7c7c7;
      margin-right: 0;
    }
    .MuiListItemIcon-root {
      .MuiSvgIcon-root {
        fill: currentColor;
        margin-right: 20px;
      }
    }
  }
  > .menu-item {
    .MuiCollapse-wrapper {
      margin-bottom: 10px;
      padding-bottom: 15px;
      .MuiListItem-root {
          line-height: 1rem;
        &:hover {
          background-color: transparent;
        }
      }
    }
    &.menu-minify {
      .MuiListItem-root {
        padding: 7px;
        &.Mui-selected {
          background-color: #fff;
          border-radius: 4px 0 0 4px;
          position: relative;
        }
        .MuiListItemIcon-root {
          .MuiSvgIcon-root {
            margin-right: 0;
          }
        }
      }
    }
  }
  .MuiListSubheader-root {
    color: #ababab;
    line-height: 1rem;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
  }
}
.MuiPaper-root::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}